@font-face {
    src: url('../fonts/Inter-VariableFont_slnt,wght.ttf');
    font-family: "Inter";
}

.card-profile {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    border-radius: 50px;
}

.margin-top-2-rem {
    margin-top: 2rem;
}

.input-ta {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #214371;
    color: #214371;
    width: 230px;
    height: 200px;
    padding-left: 10px;
    margin-bottom: 4%;
}

.input-ta:focus {
    outline: none;
    border: 1px solid #3e7dd4;
    color: #214371;
}

.link-profile-hidden {
    display: none !important;
}

.link-profile:hover {
    cursor: pointer;
    color: #356ab4;
}

.mgl-1 {
    margin-left: 1rem;
}

.mgr-1 {
    margin-right: 1rem;
}

.current {
    text-decoration: underline;
}

.dflex {
    display: flex;
}

.trainer-img-profile {
    max-height: 250px;
    border-radius: 50px 15px;
    border: 5px solid #214371;
}

.card-header-profile {
    background-image: url('/img/gimnasio.jpg');
    background-size: cover;
    width: 100%;
    border-radius: 30px;
}

.width-100 {
    width: 100%;
}

.wrap-text {
    word-wrap: break-word;
    word-break: break-all;
}

.link-return {
    cursor: pointer;
    color: #214371;
}

.loading-login-hidden {
    display: none !important;
}

.text-right {
    text-align: end;
}

.padded-1-rem {
    padding: 1rem;
}

.table-design {
    padding: 2rem;
}

.icon-button-table {
    width: 30px;
    height: 30px;
}

.icon-button-table {
    cursor: pointer;
}

.button-table {
    background-color: #fff;
    display: flex;
    align-items: center;
}
.button-table span{
    padding-left: 0.5rem;
    padding-right: 0.5rem;

}

.class-table-div {
    padding: 1rem 5% 0 5%;
    margin-right: auto;
    margin-left: auto;
}

.table-design thead {
    font-weight: bold !important;
    color: #214371 !important;
    border-bottom: 3px solid #214371 !important;
}

.table-design thead tr {
    padding: 5px;
}

.disabled {
    pointer-events: none;
}

.loader-line {
    width: 200px;
    height: 4px;
    position: relative;
    overflow: hidden;
    width: calc(100% - 1rem);
    background-color: #ddd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 3px;
    width: 40%;
    background-color: #214371;
    -webkit-animation: lineAnim 1s linear infinite;
    -moz-animation: lineAnim 1s linear infinite;
    animation: lineAnim 1s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes lineAnim {
    0% {
        left: -40%;
    }
    50% {
        left: 20%;
        width: 80%;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}

.button-img-home-img-1:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.button-img-home-img-2:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.button-img-home-img-3:hover {
    filter: brightness(0.5);
    cursor: pointer;
}

.button-img-home-img-1:active {
    filter: brightness(0.3);
    cursor: pointer;
}

.button-img-home-img-2:active {
    filter: brightness(0.3);
    cursor: pointer;
}

.button-img-home-img-3:active {
    filter: brightness(0.3);
    cursor: pointer;
}

.img-col-2 {
    max-height: 350px;
    border-radius: inherit;
}

.title-home-white {
    font-weight: bold;
    color: white;
}

.mb-4-phone {
    margin-bottom: 1rem;
}

.row-custom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}


/* .button-img-home-img-1,
.button-img-home-img-2,
.button-img-home-img-3 {
    box-shadow: inset 0 0 15px 10px black;
    height: 150px;
    width: 200px;
    padding: 50px;
    border-radius: 25px;
    border: 1px solid black;
}
 */

.button-img-home-img-1 {
    box-shadow: inset 0 0 15px 10px black;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: 200px;
    background-image: url('/img/discos.jpg');
    background-size: cover;
    border-radius: 50px;
}

.button-img-home-img-2 {
    box-shadow: inset 0 0 15px 10px black;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: 200px;
    background-image: url('/img/nutricion.jpg');
    background-size: cover;
    border-radius: 50px;
}

.button-img-home-img-3 {
    box-shadow: inset 0 0 15px 10px black;
    max-width: 200px;
    max-height: 200px;
    height: 200px;
    width: 200px;
    background-image: url('/img/gimnasio.jpg');
    background-size: cover;
    border-radius: 50px;
}

.column {
    display: flex;
    /* flex-direction: column; */
    flex-basis: 100%;
    flex: 1;
}

.column-center-img-1 {
    justify-content: center;
}

.justified-left {
    text-align: justify;
}

.centered-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

html,
body {
    font-family: "Inter" !important;
}

header {
    background-color: white;
}

footer {
    padding-top: 5rem
}

.flexbox-column {
    display: flex;
    justify-content: center;
}

.title-cye {
    color: #214371;
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 2rem;
}

.title-cye-secondary {
    color: #214371;
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 2rem;
}

.title-cye-1st {
    color: #214371;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.title-cye-white {
    text-align: center;
    padding-top: 1rem;
    color: #fff;
    font-weight: bolder;
    font-size: 45px;
    margin-bottom: 2rem;
}

.part-1-body {
    padding: 3rem 5% 0 5%;
    background-color: white;
}

.text-cye-default {
    color: #214371;
}

.align-i-center {
    display: flex;
    align-items: center;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.button-home {
    background-color: #214371;
    color: white;
    border-radius: 30px;
    width: 200px;
    border: unset;
    height: 60px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter';
}

.button-home:hover {
    background-color: #336dbe;
}

.button-home:active {
    background-color: #214371;
}

.vl {
    margin: 4% 0;
    border-left: 4px solid #214371;
    height: 50px;
}

.vl-white {
    margin: 4% 0;
    border-left: 4px solid #fff;
    height: 50px;
}

.flex-centered {
    display: flex;
    justify-content: center;
}

.img_home {
    max-height: 150px;
}

.flex-sp-bt {
    display: flex;
    justify-content: space-evenly;
}

.text-home-img {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 1rem;
}

.title-cye-card {
    color: #214371;
    font-weight: bolder;
    font-size: 45px;
    padding-top: 2rem;
}

.card-custom-home {
    max-width: 1000px;
    padding: 3rem;
    background-color: white;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img-card-home {
    display: none;
}

.padded-5-rem {
    padding-bottom: 5rem;
}

.padded-top-8 {
    padding-top: 5rem;
}

.part-3-body {
    padding: 3rem 5% 0 5%;
    background-color: white;
    border-radius: 70% 0 30% 0;
}

.home-img-nut {
    max-width: 700px;
}

.flex-custom {
    display: flex;
    justify-content: space-between;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .text-align-center-no-flex{
        text-align: center;
    }
    .padded-3-rem {
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .padded-3-rem-et {
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .hide-on-small-md {
        display: none
    }
    .hide-on-small-md-table {
        display: none
    }
    .flex-centered {
        text-align: center;
    }
    .text-cye-1st {
        color: #214371;
        font-size: 15px;
    }
    .align-centered-phone {
        display: flex;
        justify-content: center;
    }
    .text-align-centered-phone {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .flex-sp-bt {
        display: flex;
        flex-direction: column;
    }
    .Buscador {
        background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
        background-size: 24px;
        max-width: 400px;
        border: transparent;
        border-bottom: solid 1px #ccc;
        padding: 10px 10px 10px 30px;
        outline: none;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .padded-3-rem {
        padding: 3rem 0rem 3rem 0rem;
    }
    .padded-3-rem-et {
        padding: 3rem;
    }
    .Buscador {
        background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
        background-size: 24px;
        max-width: 500px;
        border: transparent;
        border-bottom: solid 1px #ccc;
        padding: 10px 10px 10px 30px;
        outline: none;
    }
    .button-img-home-img-1 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 250px;
        max-height: 250px;
        height: 250px;
        width: 250px;
        background-image: url('/img/discos.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .button-img-home-img-2 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 250px;
        max-height: 250px;
        height: 250px;
        width: 250px;
        background-image: url('/img/nutricion.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .button-img-home-img-3 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 540px;
        max-height: 250px;
        width: 540px;
        height: 250px;
        background-image: url('/img/gimnasio.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .hide-on-small-md {
        display: none
    }
    .title-cye-1st {
        color: #214371;
        font-weight: bolder;
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .text-cye-1st {
        color: #214371;
        font-size: 15px;
    }
    .paragraph-limit {
        max-width: 400px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .img-card-home {
        max-height: 500px;
        border-radius: 150px 60px;
        padding: 2rem;
        display: block;
    }
    .title-cye-1st {
        color: #214371;
        font-weight: bolder;
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .text-cye-1st {
        color: #214371;
        font-size: 20px;
    }
    .paragraph-limit {
        max-width: 600px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .padding-left-20px {
        padding-left: 20px;
    }
    .padding-right-20px {
        padding-right: 20px;
    }
    .column-img-2-start {
        display: flex;
        /* flex-direction: column; */
        flex-basis: 100%;
        flex: 1;
        justify-content: start;
    }
    .column-img-2-end {
        display: flex;
        /* flex-direction: column; */
        flex-basis: 100%;
        flex: 1;
        justify-content: end;
    }
    .button-img-home-img-1 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 350px;
        max-height: 350px;
        height: 350px;
        width: 350px;
        background-image: url('/img/discos.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .button-img-home-img-2 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 350px;
        max-height: 350px;
        height: 350px;
        width: 350px;
        background-image: url('/img/nutricion.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .button-img-home-img-3 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 740px;
        max-height: 350px;
        width: 740px;
        height: 350px;
        background-image: url('/img/gimnasio.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .img-col-1 {
        max-width: 740px;
        border-radius: inherit;
    }
    .flex-img-2 {
        display: flex;
        justify-content: space-evenly;
    }
    .part-3-body {
        padding: 3rem 5% 0 5%;
        background-color: white;
        border-radius: 70% 0 50% 0;
    }
    .button-home {
        background-color: #214371;
        color: white;
        border-radius: 30px;
        width: 300px;
        border: unset;
        height: 60px;
        text-decoration: underline;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Inter';
    }
    .title-cye-1st {
        color: #214371;
        font-weight: bolder;
        font-size: 5rem;
        margin-bottom: 2rem;
    }
    .text-cye-1st {
        color: #214371;
        font-size: 25px;
    }
    .paragraph-limit {
        max-width: 800px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1250px) {
    .button-img-home-img-1 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 450px;
        max-height: 450px;
        height: 450px;
        width: 450px;
        background-image: url('/img/discos.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .button-img-home-img-2 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 450px;
        max-height: 450px;
        height: 450px;
        width: 450px;
        background-image: url('/img/nutricion.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .button-img-home-img-3 {
        box-shadow: inset 0 0 15px 10px black;
        max-width: 940px;
        max-height: 450px;
        width: 940px;
        height: 450px;
        background-image: url('/img/gimnasio.jpg');
        background-size: cover;
        border-radius: 50px;
    }
    .hide-on-small-md {
        display: block
    }
    .hide-on-small-md-table {
        display: table-cell
    }
}
